# Ignore everything
*

# Allow gitignore itself
!.gitignore

# Allow only some files
!pid_top.v
!soc_system.qpf
!soc_system.qsys

# Allow the folder
!pid/
# Ignore everything inside again
pid/*
!pid/predictor.v

